<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="Selenium Framework Test Suite" parallel="methods"
	verbose="1" thread-count="5">
	<listeners>
		<listener class-name="com.seleniumtests.reporter.SeleniumTestsReporter" />
		<listener class-name="com.seleniumtests.controller.TestRetryListener" />
	</listeners>

	<parameter name="appURL" value="http://www.seleniumtests.com/2013/08/demo-test-link-site.html"/>
	<parameter name="browser" value="*firefox" /> <!-- "*firefox, *chrome, *iexplore" -->
	<parameter name="runMode" value="LOCAL" />
	<!--<parameter name="webDriverGrid" value="http://www.seleniumtests.com/wd/hub" />-->
	<parameter name="webSessionTimeOut" value="120000" />
	<parameter name="openReportInBrowser" value="firefox" />
	<parameter name="maxConcurrentWebSessions" value="5" />
	<parameter name="captureSnapshot" value="true" />
	<parameter name="softAssertEnabled" value="true" />
	<parameter name="webSessionTimeOut" value="60000" />
    <parameter name="useFirefoxDefaultProfile" value="false"/>

	<test name="Retry Test1" parallel="methods">
		<groups>
			<run>
				<include name="retryTest1" />
			</run>
		</groups>
		<classes>
			<class name="com.seleniumtests.tests.RetryTest1" />
		</classes>
	</test>
	<test name="Never Retry Test" parallel="methods">
		<groups>
			<run>
				<include name="retryTest2" />
			</run>
		</groups>
		<classes>
			<class name="com.seleniumtests.tests.RetryTest2" />
		</classes>
	</test>

    <test name="Soft CustomAssertion Test" parallel="methods">
        <groups>
            <run>
                <include name="softAssertionTest" />
            </run>
        </groups>
        <classes>
            <class name="com.seleniumtests.tests.SoftAssertionTest" />
        </classes>
    </test>

    <test name="Test LinkElement Login Test" parallel="methods">
        <groups>
            <run>
                <include name="loginAsValidUser" />
                <include name="loginAsInvalidUser"/>
                <include name="testForFailure"/>
            </run>
        </groups>
        <classes>
            <class name="com.seleniumtests.tests.TestLinkLoginTest" />
        </classes>
    </test>

    <test name="Test LinkElement Navigation Test" parallel="methods">
        <groups>
            <run>
                <include name="createTestProject" />
            </run>
        </groups>
        <classes>
            <class name="com.seleniumtests.tests.TestLinkUsageTest" />
        </classes>
    </test>

</suite> 
